parameters:
    level: 4
    paths:
        - src/
        # TODO
        #- tests/
        #- scripts/
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            # FIXME Properties in classes extending AbstractVendorDatabase are used in AbstractVendorDatabase
            message: '#^Access to an undefined property FastSitePHP\\Data\\AbstractVendorDatabase::\$(func|connect|index)_[a-z_]+\.$#'
            path: src/Data/AbstractVendorDatabase.php
        -
            # FIXME Use a custom exception
            message: '#^Access to an undefined property ErrorException::\$severityText\.$#'
            paths:
                - src/Application.php
                - src/AppMin.php
        -
            # TODO inet_pton() may return false
            message: '#^Binary operation "." between string\|false and string results in an error\.$#'
            path: src/Net/IP.php
        -
            # :( odbc_fetch_into() uses an argument for returning output
            message: '#^Offset 0 does not exist on array\(\)\.$#'
            path: src/Data/AbstractVendorDatabase.php
        -
            # PHPStan does not reconize the return value of ob_get_length() may change
            message: '#^Comparison operation ">" between int<min, 0>\|false and 0 is always false\.$#'
            path: src/Application.php
